Body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(images/almond-background.jpg)
}

header {
    background-color: #3399CC;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

h1 {
    line-height: 200%;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    height: 72px;
    margin-bottom: 0;
}

nav {
    font-weight: bold;
    padding: 5px;
    float: left;
    width: 170px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    background-color: #FFFFFF;
}

h2 {
    color: #3399CC;
    font-family: Georgia, serif
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 20px;
    margin-left: 170px;
    background-color: #FFFFFF;

}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #cce4f0;
    min-width: 700px;
    max-width: 1024px;
    box-shadow: 5px 5px 5px
}

h3 {
    color: #000033;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    background-color: #FFFFFF;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
}
#home {
    height: 300px;
    background-image: url(images/lifeguard-stand.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}
#reservation{
    height: 300px;
    background-image: url(images/RGIHKO_Beach_Bungalows.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}

#bungalows {
    height: 300px;
    background-image: url(/images/beaches-sea-paradise-evening-ocean-lights-waters-beautiful-water-bungalow-resort.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}

#activities{
    height: 300px;
    background-image: url(images/merlin-fishing.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}
#about{
    height: 300px;
    background-image: url(images/hotel-has-its-own-beach.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}
#shop{
    height: 300px;
    background-image: url(images/beach-shop.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}
#sketch-folder{
align-content: center;
}
img {
    display:block; margin: 0 auto; padding: 5px;
}

nav a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

nav a:link {
    color: #000095;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #FFFFFF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
}

header,
nav,
main,
footer {
    display: block;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        background-image: none;}
    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
        box-shadow: none;    }
    
    h1 {margin: 0;}
    nav {float: none; width: auto; padding: 0.5em;}
    nav li {display: inline-block;}
    nav a {padding: 1.0em;}
    main {padding: 1.0em; margin-left: 0; font-size: 90%;}
    footer {margin: 0;}
    #home,#reservation,#bungalows,#activities,#about,#shop {margin-left: 0;}
}

@media only all and (max-width: 768px) {
    h1 {height: 100%; font-size: 1.5em; padding-left: 0.3em;}
    nav {padding: 0;}
    nav a {display: block; padding: 0.2em; font-size: 1.3em; border-bottom: 1px; border-bottom-color: #330000;}
    nav ul {margin: 0; padding: 0;}
    nav li {display: block; margin: 0; padding: 0;}
    main {padding-top: 0.1em; padding-right: 0.6em; padding-bottom: 0.1em; padding-left: 0.4em;}
    #home,#reservation,#bungalows,#activities,#about,#shop{display: none;}
    footer {padding: 0;}
    #mobile { display: inline; }
    #desktop { display: none; }
    
}

table{
    margin: auto; border: 1px solid #3399cc; width: 90%; border-collapse: collapse;
}
td, th {
    padding: 5px; border: 1px solid #3399cc;
}
td {
    text-align: center;
}
.text {
    text-align: left;
}
tr:nth-of-type(even) { background-color: #F5FAFC; }
label {
    float: left; display: block; width: 8em; padding-right: 1em;
}
input, textarea{
    display: block; margin-bottom: 1em;
}
#mysubmit{
    margin-right: 10em;
}
video, embeded, audio,article {
    float: right; margin: 2em;
}